* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 5.45vw;
  padding: 2.3vw 6.1vw 0 6.1vw;
  background-image: linear-gradient(#000210 16%, #000210b3 71%, #00021000);
  font-family: "Agbalumo", system-ui;
  z-index: 1;
}

header a {
  color: white;
}

#header-menu {
  font-size: 1.4vw;
}

.header-title {
  font-size: 1.4vw;
}

.header-repo {
  font-size: 1.1vw;
}

#side-menu {
  position: fixed;
  top: 5.45vw;
  left: 1vw;
  width: 14vw;
  /* height: 100%; */
  padding-top: 1vw;
  background-color: rgba(26, 26, 46, 0.7);
  backdrop-filter: blur(1px);
  border: 0.078vw solid #5f626e;
  border-radius: 0.9vw;
  text-align: center;
  z-index: 2;

  transform: translateY(-200%);
  transition: transform 0.4s ease-in-out;
}

#side-menu.slide {
  transform: translateY(0);
}

#side-menu ul {
  list-style: none;
}

#side-menu li a {
  display: block;
  font-family: "Agbalumo", system-ui;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1.4vw;
}
